#background {
    height: 100%;
    width: 100%;
    background: #000;
}

#canvas {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    top: 250px;
    background: white;
}
