#background {
    height: 100%;
    width: 100%;
    background: #FFF;
}

#legoCanvas {
    position: absolute;
    left: 250px;
    height: 900px;
    width: 1120px;
    top: 050px;
    background: white;
    z-index: 1;
}
