#background {
    height: 100%;
    width: 100%;
    background: #FFF;
}

#legoCanvas {
    position: absolute;
    left: 250px;
    height: 600px;
    width: 800px;
    top: 250px;
    background: white;
    z-index: 1;
}
